@import '../../index.module.scss';

.container{
    width: 100%;
    background-color: #E7E7E7;
    
    .headerTop{
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img:first-child{
            width: 368px;
            height: auto;
        }

        img{
            width: 141px;
            height: auto;
        }
        @include respond-to('medium'){
            img:first-child{
                width: 184px;
            }
            img{
                width: 75px;
            }
        }
        @include respond-to('x-large'){
            width: 100%;
        }
    }

    .header{
        width: 1400px;
        height: 84px;
        border: 1px solid #FFFFFF66;
        // backdrop-filter: blur(20px);
        background-color: #00000066;
        border-radius: 100px;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        margin-top: 20px;
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%);
        z-index: 3;
        @include respond-to('x-large'){
            width: 90%;
        }
        

        .links{
            display: flex;
            align-items: center;
            gap: 40px;

            a{
                text-decoration: none;
                color: #FFFFFF;
                font-size: 24px;
                @include respond-to('x-large'){
                    font-size: 18px;
                }
            }
        }

        .language{
            // border: 1px solid #FFFFFF;
            height: 54px;
            border-radius: 20px;
            font-size: 24px;
            cursor: pointer;
            transition: .6s;
            height: auto;
            position: relative;
            overflow: hidden;
            @include respond-to('x-large'){
                font-size: 18px;
            }

            .hidden{
                padding-top: 11px;

                p{
                    background-color: none;
                    padding: 5px 11px;
                    border-radius: 10px;
                }

                p:hover{
                    background-color: #FFFFFF33;
                }
            }

            .mainLang{
                display: flex;
                padding: 10px 11px;
                align-items: center;
            }

            img{
                width: 20px;
                height: 20px;
                margin-left: 15px;
                transition: .3s;
               
            }
        }
    }
}